<!-- home/templates/home/about.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
    {% include 'home/header.html' %}
    <div class="container">
        <title>Register</title>
        <h1>Register</h1>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Register</button>
        </form>
          <p>Don't have an account? <a href="{% url 'create_account' %}" class="create-account-link">Create one</a></p>
    </div>
    {% include 'home/footer.html' %}
</body>
</html>




